<form method="POST" action="/pizzas">
    <input type="text" name="pizza[name]" placeholder="Name Your Creation">
    <input type="text" name="pizza[sauce]" placeholder="sauce">
    <input type="text" name="pizza[extra_toppings]" placeholder="Extras">
    <input type="submit" value="Submit">
</form>