<form method="POST" action="/pizzas">
    <input type="text" name="name" placeholder="Name Your Creation">
    <input type="text" name="sauce" placeholder="sauce">
    <input type="text" name="extra_toppings" placeholder="Extras">
    <input type="submit" value="Submit">
</form>