
    <ul>
    <%  @pizzas.each do | pizza | %>
        <li><%= pizza.name  %></li>
        <span><%= pizza.sauce %> with <%= pizza.extra_toppings %></span>
    <% end  %>
    </ul>

<a href="pizzas/new"><button>Add a Pie!</button></a>
